@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #etiquetaParaImpressao, #etiquetaParaImpressao * {
    visibility: visible;
  }
  #etiquetaParaImpressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}